#######################
## Ignore everything ##
#######################

*.*


############################
## But not these files... ##
############################

!*.py
!*.html
!*.css
!*.js
!.gitignore
!Makefile


################
## Exceptions ##
################

!db/projects.json
